@using CGO.Web.Models
@using CGO.Web.Views
@model HomePageViewModel
<div class="row">
    <header class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Upcoming Rehearsals</h1>
    </header>
</div>
<div class="row">
    <section class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="featured homepage-content">
            <h2>Next Rehearsal: <time datetime="@Model.NextRehearsal.DateAndStartTime.ToString(FormatStrings.RFC3339DateTime)">@Model.NextRehearsal.DateAndStartTime.ToString(FormatStrings.FullDate)</time></h2>
            <p>
                <time datetime="@Model.NextRehearsal.DateAndStartTime.ToString(FormatStrings.RFC3339DateTime)">@Model.NextRehearsal.DateAndStartTime.ToString(FormatStrings.Time)</time> -
                <time datetime="@Model.NextRehearsal.FinishTime.ToString(FormatStrings.RFC3339DateTime)">@Model.NextRehearsal.FinishTime.ToString(FormatStrings.Time)</time>,
                @Model.NextRehearsal.Location
            </p>
            <p>@Html.ActionLink("View Schedule »", "Details", "Rehearsals", new { Model.NextRehearsal.Id }, htmlAttributes: new { @class = "btn btn-default" })</p>
        </div>
    </section>
    @foreach (var rehearsal in Model.UpcomingRehearsals)
    {
        <section class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="homepage-content">
                <h2><time datetime="@rehearsal.DateAndStartTime.ToString(FormatStrings.RFC3339DateTime)">@rehearsal.DateAndStartTime.ToString(FormatStrings.FullDate)</time></h2>
                <p>
                    <time datetime="@rehearsal.DateAndStartTime.ToString(FormatStrings.RFC3339DateTime)">@rehearsal.DateAndStartTime.ToString(FormatStrings.Time)</time> -
                    <time datetime="@rehearsal.FinishTime.ToString(FormatStrings.RFC3339DateTime)">@rehearsal.FinishTime.ToString(FormatStrings.Time)</time>,
                    @rehearsal.Location
                </p>
                <p>@Html.ActionLink("View Schedule »", "Details", "Rehearsals", new { rehearsal.Id }, htmlAttributes: new { @class = "btn btn-default" })</p>
            </div>
        </section>
    }
</div>
