@using CGO.Web.Views
@model CGO.Web.Models.HomePageViewModel
<div class="hero-unit">
    <header>
        <h1>@Model.NextConcert.Title</h1>
    </header>
    <section>
        <p><time datetime="@Model.NextConcert.DateAndStartTime.ToString(FormatStrings.RFC3339DateTime)">@Model.NextConcert.DateAndStartTime.ToString(FormatStrings.FullDateTime)</time>, @Model.NextConcert.Location</p>
        <img src="~/Images/facebook.png" style="width: 50%" />
        <p>
            <a href="http://cgorussianheritage-www.eventbrite.co.uk/" title="Buy tickets on EventBrite" class= "btn btn-primary btn-large">Buy tickets »</a>
            @Html.ActionLink("View programme »", "Details", "Concerts", new { Model.NextConcert.Id }, htmlAttributes: new { @class ="btn btn-large" })
        </p>
    </section>
</div>
<div class="row-fluid">
    <h1>Upcoming Rehearsals</h1>
    @foreach(var rehearsal in Model.UpcomingRehearsals)
    {
        <section class="span4">
            <h2><time datetime="@rehearsal.DateAndStartTime.ToString(FormatStrings.RFC3339DateTime)">@rehearsal.DateAndStartTime.ToString(FormatStrings.FullDate)</time></h2>
            <p>
                <time datetime="@rehearsal.DateAndStartTime.ToString(FormatStrings.RFC3339DateTime)">@rehearsal.DateAndStartTime.ToString(FormatStrings.Time)</time> - 
                <time datetime="@rehearsal.FinishTime.ToString(FormatStrings.RFC3339DateTime)">@rehearsal.FinishTime.ToString(FormatStrings.Time)</time>,
                @rehearsal.Location
            </p>
            <p>@Html.ActionLink("View Schedule »", "Details", "Rehearsals", new {rehearsal.Id}, htmlAttributes: new {@class = "btn"})</p>
        </section>
    }
</div>
