<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/styles/admin")

        @Styles.Render("~/bundles/font-awesome")
        @Styles.Render("~/bundles/boilerplate")
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="wrap">
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="@Url.Action("Index", "Home")" title="Site administration" class="navbar-brand"><i class="icon-home"></i> Site Administration</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        @Html.Partial("_MenuBar")
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="page-header"><h1>@ViewBag.Title</h1></div>

                <div class="content">
                    @RenderBody()
                </div>
            </div>
        </div>

        <footer>
            <div class="container">
                <p class="text-muted">Copyright &copy; Cambridge Graduate Orchestra @DateTime.UtcNow.ToString("yyyy")</p>
                <ul id="social">
                    <li><a href="http://facebook.com/cambridgegraduateorchestra" class="facebook">Facebook</a></li>
                    <li><a href="http://twitter.com/camgradorch" class="twitter">Twitter</a></li>
                </ul>
                <ul id="poweredBy">
                    <li><a href="http://www.ravendb.net/" class="raven">Powered by RavenDB</a></li>
                </ul>
                <p class="text-muted credit">Designed and built by <a href="http://www.alastairsmith.me.uk/">Alastair Smith</a>.</p>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")

        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/knockout")
        
        <script type="text/javascript">
            Modernizr.load({
                test: Modernizr.input.placeholder,
                nope: '/scripts/placeholder.js'
            });

            Modernizr.load({
                test: Modernizr.inputtypes.date,
                nope: '/scripts/datepicker.js'
            });
        </script>

        @Scripts.Render("~/bundles/bootstrap")

        @RenderSection("Scripts", false)
    </body>
</html>
