@using CGO.Web.Views
@model CGO.Web.Models.Rehearsal

@{
    ViewBag.Title = Model.DateAndStartTime.ToString(FormatStrings.FullDateTime);
}

<div class="hero-unit">
    <header>
        <h1><time datetime="@Model.DateAndStartTime.ToString(FormatStrings.RFC3339DateTime)">@Model.DateAndStartTime.ToString(FormatStrings.FullDate)</time></h1>
    </header>
    <section>
        <p>
            <time datetime="@Model.DateAndStartTime.ToString(FormatStrings.RFC3339DateTime)">@Model.DateAndStartTime.ToString(FormatStrings.Time)</time> - 
            <time datetime="@Model.FinishTime.ToString(FormatStrings.RFC3339DateTime)">@Model.FinishTime.ToString(FormatStrings.Time)</time>,
            @Model.Location
        </p>
    </section>
</div>
<section>
    <p>@Html.Markdown(Model.Notes)</p>
</section>