@using CGO.Web.Models
@model IEnumerable<SideBarSection>

<div class="col-lg-3">
    <div class="well">
        <ul class="nav nav-stacked">
            @foreach (var sideBarSection in Model)
            {
                <li class="navbar-header">@sideBarSection.Title</li>
                foreach (var link in sideBarSection.Links)
                {
                    @SideBarLink(link)
                }
            }
        </ul>
    </div>
</div>

@helper SideBarLink(SideBarLink link)
{
    if (link.IsActive)
    {
        <li class="active"><a href="@link.Uri" title="@link.Title">@link.Title</a></li>
    }
    else
    {
        <li><a href="@link.Uri" title="@link.Title">@link.Title</a></li>
    }
}
