@using CGO.Web.Views
@model IReadOnlyCollection<CGO.Domain.Entities.Concert>

@{
    ViewBag.Title = "Archive";
}

<div class="row-fluid">
    @Html.Action("Display", "SideBar")

    <div class="span9">
        <h1>@ViewBag.ConcertSeason Season</h1>
        @foreach (var concert in Model)
        {
            <section>
                <header>
                    <h2>@concert.Title</h2>
                </header>
                <div>
                    <p><time datetime="@concert.DateAndStartTime.ToString(FormatStrings.RFC3339DateTime)">@concert.DateAndStartTime.ToString(FormatStrings.FullDateTime)</time>, @concert.Location</p>
                    <p>@Html.ActionLink("View details »", "Details", new { concert.Id }, htmlAttributes: new { @class ="btn" })</p>
                </div>
            </section>
        }

    </div>
</div>
