@model CGO.Web.Models.Concert

@{
    ViewBag.Title = Model.Title;
}

<header>
    <h1>@Model.Title</h1>
</header>
<section>
    <time datetime="@Model.DateAndStartTime.ToString("yyyy-MM-ddTHH:mmzzz")">@Model.DateAndStartTime.ToString("d MMMM yyyy HH.mm")</time>, @Model.Location
    <p>@Html.Markdown(Model.Description)</p>
</section>