@using CGO.Web.Views
@model CGO.Web.Models.ConcertsIndexViewModel

@{
    ViewBag.Title = "Upcoming Concerts";
}

<div class="row">
    @Html.Action("Display", "SideBar")

    <div class="col-lg-9">
        @if (Model.NextConcert != null)
        {
            <div class="featured homepage-content">
                @{ var nextConcert = Model.NextConcert; }
                <header>
                    <h2>@nextConcert.Title</h2>
                </header>
                <section>
                    <p><time datetime="@nextConcert.StartTime.ToString(FormatStrings.RFC3339DateTime)">@nextConcert.StartTime.ToString(FormatStrings.FullDateTime)</time>, @nextConcert.Location</p>
                    <p>@Html.ActionLink("Learn more »", "Details", new {nextConcert.Id}, htmlAttributes: new {@class = "btn btn-default btn-large"})</p>
                </section>
            </div>
        }
        
        @if (Model.UpcomingConcerts.Any())
        {
            <header>
                <h1>All Upcoming Concerts</h1>
            </header>
            <hr />
            foreach (var concert in Model.UpcomingConcerts)
            {
                <section>
                    <header>
                        <h1>@concert.Title</h1>
                        <div class="meta">
                            <p><time datetime="@concert.StartTime.ToString(FormatStrings.RFC3339DateTime)">@concert.StartTime.ToString(FormatStrings.FullDateTime)</time>, @concert.Location</p>
                            <p>@Html.ActionLink("View details »", "Details", new {concert.Id}, htmlAttributes: new {@class = "btn"})</p>
                        </div>
                    </header>
                </section>
            }
            <hr/>
        }
    </div>
    <div class="col-lg-9">
        <!-- Nominally empty div to push the Archive button down from the list of concerts. This is a bit of a hack :-( -->
        &nbsp;
    </div>
    <div class="col-lg-9">
        <p>@Html.ActionLink("View past concerts »", "Archived", routeValues: null, htmlAttributes: new { @class = "btn btn-info" })</p>
    </div>
</div>