@model IEnumerable<CGO.Web.Models.Concert>

@{
    ViewBag.Title = "Upcoming Concerts";
}

<header>
    <h1>Upcoming Concerts</h1>
</header>

@foreach (var concert in Model)
{
    <section>
        <header>
            <h1>@concert.Title</h1>
            <div class="meta">
                <time datetime="@concert.DateAndStartTime.ToString("yyyy-MM-ddTHH:mmzzz")">@concert.DateAndStartTime.ToString("d MMMM yyyy HH.mm")</time>, @concert.Location
                @Html.ActionLink("Read more", "Details", new { concert.Id })
            </div>
        </header>
    </section>
}
