@model IEnumerable<CGO.Web.ViewModels.ConcertViewModel>

@{
    ViewBag.Title = "All Concerts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>All Concerts</h1>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date and Start Time</th>
            <th>Venue</th>
            <th>Is Published?</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: concerts">
        <tr data-bind="attr: { id: 'concert-' + id }">
            <td data-bind="text: title"></td>
            <td data-bind="text: dateAndStartTime">@*@concert.Date.ToString("d MMM yyyy") @concert.StartTime.ToShortTimeString()*@</td>
            <td data-bind="text: location"></td>
            <td>@*@{ Write(concert.Published ? "Yes" : "No"); }*@</td>
            <td>
                <a title="Publish" data-bind="attr: { href: '@Url.Action("Publish", "Concerts")/' + id }"><i class="icon-bolt icon-large action" style="color: gold"></i></a>
                <a title="Edit" data-bind="attr: { href: '@Url.Action("Edit", "Concerts")/' + id }"><i class="icon-pencil icon-large action" style="color:saddlebrown"></i></a>
                <a href="#" title="Delete" data-bind="click: $parent.deleteConcert"><i class="icon-trash icon-large action" style="color: grey"></i></a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <form id="quickAdd" data-bind="submit: quickAdd">
                @Html.Hidden("Published", false)
                <td>@Html.TextBox("ConcertViewModel.Title", value: null, htmlAttributes: new { placeholder = "Title", @class = "quickAddField" })</td>
                <td>
                    @Html.TextBox("ConcertViewModel.Date", value: null, htmlAttributes: new { placeholder = "Date: dd/mm/yyyy", @class = "quickAddField-small", type="date" })
                    @Html.TextBox("ConcertViewModel.StartTime", value: null, htmlAttributes: new { placeholder = "Start Time: hh:mm", @class = "quickAddField-small", type="time" })
                </td>
                <td>@Html.TextBox("ConcertViewModel.Location", value: null, htmlAttributes: new { placeholder = "Venue", @class = "quickAddField" })</td>
                <td>No</td>
                <td><button type="submit" class="btn"><i class="icon-plus"></i> Quick Add</button></td>
            </form>
        </tr>
    </tfoot>
</table>

<a href="@Url.Action("Create", "Concerts")" class="btn btn-primary"><i class="icon-plus"></i> New Concert</a> 

<script type="text/javascript" src="~/Scripts/ViewModels/ConcertListViewModel.js"></script>
<script type="text/javascript" src="~/Scripts/ViewModels/ConcertViewModel.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.dateFormat-1.0.js"></script>
<script type="text/javascript">
    (function($) {
        $(function () {
            $.getJSON("/api/concerts", function (data) {
                var concertListViewModel = CGO.makeConcertListViewModel(data);
                ko.applyBindings(concertListViewModel);
            });
        });
    })(jQuery);
</script>